.site-branding {
  margin-bottom:0;
}

#site-logo {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-bottom:10px;
}

h1#site-title {
  display:inline-block;
}

.links {
  margin:0;
  list-style:none;
}

.links li {
  margin:0;
  padding:0;
}

/* CUSTOM MENU */
#navigation {
  margin-top:35px;
}

#custom-menu {

}

#custom-menu li {
  display:inline-block;
  list-style:none;
}

#custom-menu li a {
  display:inline-block;
  background: url('/dopepedalers/sites/all/themes/dpbc_nexus/images/sprite.png') no-repeat 0 0;
  height:67px;
  width:115px;
  text-indent: -100px;
  overflow:hidden;
}

#custom-menu li#nav-pedalers a {
  background-position: -115px 0;
  width:142px;
}

#custom-menu li#nav-pedalers a:hover {
  background-position: -115px -67px;
}

#custom-menu li#nav-bicycle a {
  background-position: -256px 0;
  width:128px;
}

#custom-menu li#nav-bicycle a:hover {
  background-position: -256px -67px;
}

#custom-menu li#nav-club a {
  background-position: -380px 0;
  width:130px;
}

#custom-menu li#nav-club a:hover {
  background-position: -380px -67px;
}

#custom-menu li#nav-dope a:hover {
  background-position: 0 -67px;
}




/* FRONT */
.front #block-system-main {
  overflow:hidden;
  border-bottom: 1px solid #ddd;
  margin-bottom:30px;
  padding-bottom:30px;
}

/* BLOG */
.blog-item {
  overflow:hidden;
  border-bottom: 1px solid #ddd;
  margin-bottom:30px;
  padding-bottom:30px;
}

h5.blog-title {
  font-size:20px;
}

.blog-post-info {
  margin-bottom:5px; 
}

.blog-image {
  float:left;
  width:32%;
}

.blog-teaser {
  float:left;
  width:68%;
  padding-top:10px;
}

/* Smaller Then Desktop
================================================== */
@media only screen and (max-width: 959px) {
  .blog-image {
    float:left;
    width:35%;
  }

  .blog-teaser {
    float:left;
    padding-left:3%;
    width:62%;
    padding-top:10px;
  }
}
/* Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .blog-image {
    width:46%;
  }

  .blog-teaser {
    padding-left: 3%;
    width:51%;
  }
}
/* Mobile (Portrait & Landscape)
================================================== */
@media only screen and (max-width: 767px) {
  .blog-image {
    width:100%;

  }

  .blog-teaser {
    width:100%;

  }
}
/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .blog-image {
    width:32%;
  }

  .blog-teaser {
    padding-left: 3%;
    width:67%;
  }
}