.site-branding {
  margin-bottom:0;
}

#site-logo {
  float:none;
  display:inline-block;
  vertical-align:middle;
}

h1#site-title {
  display:inline-block;
}

/* FRONT */
.front #block-system-main {
  margin-bottom:30px;
  padding-bottom:30px;
}

/* BLOG */
.blog-item {
  overflow:hidden;
  border-bottom: 1px solid #ddd;
  margin-bottom:30px;
  padding-bottom:30px;
}

h5.blog-title {
  font-size:20px;
}

.blog-post-info {
  margin-bottom:5px; 
}

.blog-image {
  float:left;
  width:32%;
}

.blog-teaser {
  float:left;
  width:68%;
  padding-top:10px;
}

/* Smaller Then Desktop
================================================== */
@media only screen and (max-width: 959px) {
  .blog-image {
    float:left;
    width:35%;
  }

  .blog-teaser {
    float:left;
    padding-left:3%;
    width:62%;
    padding-top:10px;
  }
}
/* Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .blog-image {
    width:46%;
  }

  .blog-teaser {
    padding-left: 3%;
    width:51%;
  }
}
/* Mobile (Portrait & Landscape)
================================================== */
@media only screen and (max-width: 767px) {
  .blog-image {
    width:100%;

  }

  .blog-teaser {
    width:100%;

  }
}
/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .blog-image {
    width:32%;
  }

  .blog-teaser {
    padding-left: 3%;
    width:67%;
  }
}